* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
}

body {
    margin: 30px;
    width: 50%;
    min-width: 300px;
}

a {
    color: #82a6c9;
    text-decoration: none;
}

.currentPage {
    color: #527699;
}

section {
    margin-top: 30px;
    margin-bottom: 30px;
}

section h2 {
    font-size: 36px;
    margin-bottom: 30px;
    overflow: hidden;
    color: #82a6c9;
}

section h2:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: #444444 2px solid;
}

/* MENU */

#header    { margin-bottom: 30px; }
#header h1 { font-size: 40px;     }
#header li { display: inline;     }
#header a  { font-weight: bold;   }

/* BIO */

#secBio #profile {
    float: left;
    width: 150px;
}

#secBio #desc {
    display: table-cell;
    vertical-align: middle;
    height: 150px;
    padding-left: 30px;
}

/* PUBLICATIONS */

#secPublications li {
    margin-top: 30px;
    list-style-type: none;
}

/* TEACHING */

#secTeaching td {
    padding-top: 10px;
    padding-bottom: 10px;
}

#secTeaching .tableHeader {
    text-align: center;
    width: 150px;
}

/* EDUCATION */

#secEducation td {
    padding-top: 10px;
    padding-bottom: 10px;
}

#secEducation .tableHeader {
    text-align: center;
    width: 150px;
}

/* PROJECTS */

#pageProjects section li {
    margin-left: 25px;
}
