@font-face {
    font-family: "lmroman";
    src:url("./lmroman10-regular.otf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
}

body, html {
    background-color: #fefefe;
    color: #8c8981;
    font-family: 'lmroman', serif;
    font-size: 20px;
}

a { color: #8c8981; }
a:hover { color: #6c6961; }

body {
    margin:auto;
}

@media screen and (min-width : 1000px) { #headin, #content { width: 60%; } }
@media screen and (max-width : 1000px) { #headin, #content { width: 80%; } }
#headin, #content {
    margin: auto;
}


/* HEADER */

/* Display svg only in wide mode */
@media screen and (min-width : 1000px) { #head { height: 160px; background-image: url("bg.svg"); background-size: 100% 100%; } }
@media screen and (max-width : 1000px) { #head { background-color: #e8e6d8; padding-top: 10px; } }
#head {
    width: 100%;
}

/* Float text only in wide mode */
@media screen and (min-width : 1000px) { #head h1 {
    float: right;
    line-height: 140px;
    vertical-align: middle;
    height: 160px;
} }
@media screen and (max-width : 1000px) { #head h1 { display: block; margin:auto; text-align: center; } }
#head h1 {
    font-size: 40px;
}

/* Float profile only in wide mode */
@media screen and (min-width : 1000px) { #head #profile { float: left; margin-top: 30px; } }
@media screen and (max-width : 1000px) { #head #profile { display: block; margin:auto; } }
#head #profile {
    width: 100px;
    border-radius: 100px;
    transform: scaleX(-1);
}

/* Put socials below title and center in narrow mode  */
@media screen and (max-width : 1000px) { #head #socials { display: block; margin:auto; } }
@media screen and (min-width : 1000px) { #head .social { margin-left: 10px; } }
@media screen and (max-width : 1000px) { #head .social { margin-left: 0px; } }
#head .social {
    font-size: 30px;
}

/* CONTENT */

section {
    margin-top: 50px;
}

section a {
    color: #9d876c;
    text-decoration: underline;
}
